<%= link_to "Chatroom", root_path, class: "item" %>
<a class="item">
  Messages
</a>
<div class="right menu">
  <div class="ui dropdown item">
    Account <i class="dropdown icon"></i>
    <div class="menu">
      <% if logged_in? %>
        <%= link_to "Log out", logout_path, method: :delete, class: "item" %>
      <% else %>
        <%= link_to "Log in", login_path, class: "item" %>
        <%#= link_to "Sign up", "#", class: "item" %>
      <% end %>
    </div>
  </div>
  <div class="item">
    <% if !logged_in? %>
      <%= link_to "Sign Up", "#", class: "ui primary button" %>
    <% else %>
      <%= link_to "Log out", logout_path, method: :delete, class: "ui primary button" %>
    <% end %>
  </div>
</div>